# Variablen, Typen, arithmetische und boolesche Operatoren

Einige Datentypen: int, float, String, boolean

In [57]:
8

8

In [58]:
3.2

3.2

In [59]:
'Hello'

'Hello'

In [60]:
True

True

Jedes Objekt hat einen Typ.

In [62]:
type(8)

int

In [63]:
type(3.2)

float

In [64]:
type('Hello')

str

In [65]:
type(True)

bool

In [66]:
type(None)

NoneType

Arithmetische Operatoren

In [6]:
11 + 3, 11 * 3, 11 / 3

(14, 33, 3.6666666666666665)

In [7]:
11 % 4

3

In [8]:
11 // 4

2

In [9]:
2 ** 3

8

Auswertungsreihenfolge bei arithmetischen Ausdrücken:

```
Klammern, **, {* / // %},{+ -}
```

Bei gleichwertigen Operatoren von links nach rechts, außer Exponentiation, die wird ohne
Klammerung von rechts nach links ausgewertet.

In [4]:
3 * (4 + 1) - 7

8

In [5]:
4 + 2 * 3 ** 2 / 4

8.5

In [3]:
8 % 2 * 3

0

In [10]:
8 * 2 % 3

1

In [11]:
2 ** 3 ** 2

512

In [12]:
(2 ** 3) ** 2

64

Mit einer Zuweisung wird einer Variablen ein Wert zugewiesen.

In [13]:
pi = 3.1415
radius = 2.2
flaeche = pi*(radius**2)
flaeche

15.204860000000004

Wir können den Wert von Variablen durch erneute Zuweisung verändern.

In [14]:
x = 5
x = x + 1
x

6

Kurzformen (erweiterte Zuweisung):

In [15]:
x += 1    # entspricht  x = x + 1
x -= 1    # entspricht  x = x - 1
x *= 2    # entspricht  x = x * 2 ... usw.

Variablennamen sind case-sensitiv. Nach mindestens einem führenden Buchstaben oder Unterstrich kann so ziemlich
jedes Zeichen folgen. Wir schränken uns freiwillig ein und nehmen in der Regel nur Unterstrich, die Buchstaben des englischen Alphabets und
die Ziffern.

Wenn es der Lesbarkeit des Programms nicht schadet, erlauben wir uns kurze Variablennamen.

In [16]:
i = 0
s = 'Habicht'
b = True
x = 2.5

Ansonsten nehmen wir sprechende Namen, beginnend mit einem kleinen Buchstaben. Zusammengesetze Namen entweder in _camelCase_ oder mit Unterstrich verbunden.

In [17]:
zaehl = 1
radius = 2.2
anzahlTreffer = 5            # camelCase
entfernungZurWand = 3.2
anzahl_treffer = 5           # mit Unterstrich
entfernung_zur_wand = 3.2

Die Bedeutung eines Operators hängt von den Typen der beteiligten Objekte ab.

In [18]:
3 + 4

7

In [19]:
'3' + '4'

'34'

In [20]:
3 * 4

12

In [21]:
'3' * 4

'3333'

In [86]:
'3' * '4'

TypeError: can't multiply sequence by non-int of type 'str'

Wenn es ein sinnvolles Ergebnis gibt, können unterschiedliche Typen ineinander umgewandelt werden (casting).

In [22]:
float(4)

4.0

In [23]:
str(4)

'4'

In [24]:
bool(4)

True

In [25]:
int(3.2)

3

In [26]:
str(3.2)

'3.2'

In [27]:
int('5')

5

In [28]:
float('5')

5.0

In [29]:
bool('5')

True

In [30]:
bool('')

False

In [31]:
int('5.2')

ValueError: invalid literal for int() with base 10: '5.2'

Vergleichsoperatoren für ints und floats.

In [32]:
i = 5
j = 7
i > j, i >= j, i < j, i <= j, i == j, i != j

(False, False, True, True, False, True)

Logische Operatoren für booleans.

In [33]:
a = True
b = False
a and b      # True wenn beide True

False

In [34]:
a or b       # True wenn mindestens einer True

True

In [35]:
not a

False

In [36]:
not b

True

Ein boolescher Ausdruck wertet sich immer zu True oder False aus.

In [37]:
a = 2
b = 3
(a*b > a+b) and (a % 2 == 0)

True

Mehrfachanweisung und Vertauschung.

In [38]:
x, y = 2, 7
x, y

(2, 7)

In [39]:
x, y = y, x
x, y

(7, 2)