# Modul datetime
Das datetime Modul bietet Funktionen zum Rechnen mit Datum und Zeit

In [11]:
import datetime as dt

In [3]:
d1 = dt.date(2016,11,24)
d2 = dt.date(2017,10,24)
max(d1,d2)

datetime.date(2017, 10, 24)

In [4]:
print(d2 - d1)

334 days, 0:00:00

### Nützliche Typen
Das datetime-Modul stellt folgende Typen zur Verfügung
* date: speichert ein Datum (Jahr, Monat, Tag)
* time: speichert die Zeit (Stunden, Minuten, Sekunden)
* datetime: speichert Datum und Zeit  
* timedelta: Zeit zwischen zwei date-Objekten

 ### datetime.date

In [5]:
anfang_jahrhundert = dt.date(2000,1,1)
heute = dt.date.today()
diff = heute - anfang_jahrhundert 
print(type(diff))
print(diff)
print(diff.days)

<class 'datetime.timedelta'>
6948 days, 0:00:00
6948

<h3>datetime.datetime</h3>

In [8]:
anfang_jahrhundert = dt.datetime(2000,1,1,0,0,0)
jetzt = dt.datetime.now()
diff = jetzt - anfang_jahrhundert
print(jetzt)
print(anfang_jahrhundert)
print(diff)
print(diff.days)

2019-01-09 18:14:29.622634
2000-01-01 00:00:00
6948 days, 18:14:29.622634
6948

### Gültigkeit eines Datums</h4>
Ein ValueError wird bei einem üngültigen Datum geworden

In [16]:
some_date = dt.date(2015,2,29)
#some_date = dt.date(2016,2,29)
#some_time = dt.datetime(2015,2,28,23,60,0)
print(some_date)

ValueError: day is out of range for month

### datetime.timedelta 
Differenz zwischen date-Objekten

In [17]:
anfang_jahrhundert = dt.date(2000,1,1)
heute = dt.date.today()
diff = heute - anfang_jahrhundert
print(diff.days)                           # Tage
print(diff.total_seconds())                # Sekunden        
print(diff.total_seconds()/60)             # Minuten
print(diff.total_seconds()/60/60)          # Stunden

6948
600307200.0
10005120.0
166752.0

Differenz zwischen datetime-Objekten

In [18]:
anfang_jahrhundert = dt.datetime(2000,1,1,0,0,0)
jetzt = dt.datetime.now()
diff = jetzt - anfang_jahrhundert
print(diff.days)                           # Tage
print(diff.total_seconds())                # Sekunden        
print(diff.total_seconds()/60)             # Minuten
print(diff.total_seconds()/60/60)          # Stunden

6948
600373014.560464
10006216.909341067
166770.28182235113

### Die aktuelle Uhrzeit

In [19]:
jetzt = dt.datetime.now()
uhrzeit = jetzt.time()
print(uhrzeit)

18:17:52.471102

#### Rechnen mit date- und datetime-Objekten

In [20]:
heute = dt.date.today()
in_5_tagen = heute + dt.timedelta(days=5)
print(in_5_tagen)

2019-01-14

In [13]:
jetzt = dt.datetime.today()
in_5min_5sec = jetzt + dt.timedelta(minutes=5,seconds=5)
print(in_5min_5sec)

2018-10-25 10:55:08.501555

In [14]:
jetzt = dt.datetime.today()
vor_5min_5sec = jetzt + dt.timedelta(minutes=-5,seconds=-5)
print(vor_5min_5sec)

2018-10-25 10:45:08.286259

#### Rechnen mit time-Objekten
Rechnen mit timedelta geht bei date- und datetime-Objekten, aber nicht bei time-Objekten. Da bekommen wir einen TypeError.

In [ ]:
uhrzeit = dt.datetime.now().time() #Returns the time component (drops the day)
print(uhrzeit)
spaeter = uhrzeit + dt.timedelta(seconds=30)

Zum Rechnen mit time-Objekten schreiben wir eine eigene Funktion:

In [21]:
def add_to_time(zeit,delta):
    '''
    zeit: time-Objekt
    delta: timedelta-Objekt
    returns: time-Objekt, um timedelta später als zeit
    '''
    temp = dt.datetime(1,1,1,zeit.hour,zeit.minute,zeit.second)
    return (temp + delta).time()

In [22]:
# Testen
jetzt = dt.datetime.now().time()
delta =dt.timedelta(seconds=30)
print(jetzt,add_to_time(jetzt,delta))

19:43:17.223479 19:43:47

#### datetime und strings 
Häufig erhält man ein Datum als String

#### String in Datum: datetime.strptime 
Häufig erhält man ein Datum als String.
datetime.strptime() wandelt einen String in ein date-, datetime- oder time-Objekt um. Der Funktion muss
eine __[Formatangabe](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)__ mitgegeben werden.

In [21]:
date='01-Apr-03'
date_object=dt.datetime.strptime(date,'%d-%b-%y')
print(date_object)

2003-04-01 00:00:00

Eine entsprechende Umwandlung in ein timedelta-Objekt gibt es nicht. Wir können uns so behelfen:

In [22]:
fahrzeit = '2:15:30'
h,m,s = fahrzeit.split(':')
x = dt.timedelta(hours=int(h),minutes=int(m),seconds=int(s))
print(x)

2:15:30

#### Datum in String: datetime.strftime

In [23]:
jetzt = dt.datetime.now()
jetzt_string = dt.datetime.strftime(jetzt,'%d.%m.%Y %H:%M')
print(jetzt_string)
print(str(jetzt))    # die default-Umwandlung

25.10.2018 10:52
2018-10-25 10:52:40.726618

#### Wochentage

In [24]:
heute = dt.date.today()
print(heute.weekday())     # 0 - Montag, ... 6 - Sonntag
heute.strftime("%A")

3

'Thursday'

In [31]:
import locale
locale.setlocale(locale.LC_TIME,'')  # '' setzt die locale des Systems
heute = dt.date.today()
heute.strftime("%A")

'Donnerstag'

### Aufgaben

In [ ]:
def bisWeihnachten():
    '''
    returns: int, Anzahl Tage von heute bis Weihnachten. 
        Am 24.12 wird der Wert 0 zurückgegeben.
    '''
    pass

In [ ]:
def neueUhrzeit(jetzt, dauer):
    '''
    jetzt: String mit Uhrzeit im Format "20:15:10"
    dauer: String mit Zeitdauer im Format "200:10:05" 
    returns: String mit der neuen Uhrzeit
     
    z.B. neueUhrzeit(20:15:10","200:10:05") 
        gibt die neue Uhrzeit zurück, nachdem 200 Stunden, 10 Minuten und 5 Sekunden verstrichen sind.
    
    '''
    pass

In [ ]:
def wieviele(datum,bisjahr,wochentag):
    '''
    datum: datumsstring ohne jahr, z.B. "14.04" für 14. April
    bisjahr: int, vierstellige Jahreszahl >= aktuelles Jahr, z.B. 2030
    wochentag: String mit Wochentag, z.B. "Montag"
    returns: int, Anzahl der Jahre bis bisjahr, in der das 
         Datum datum auf den Wochentag wochentag fällt.
    
    z.B. wieviel("14.04",2030,"Sonntag") gibt zurück, wie häufig ab heute bis ins Jahr 2030 der 14.4. auf 
       einen Sonntag fällt.
    '''
    pass