# Datenbanken   
## Aufgabe Sportverein

In [2]:
import sqlite3 as sq

In [3]:
import sportverein
sportverein.createDB()

In [13]:
def abfrage(sql):
    '''
    sql: String mit SQL-Anweisung
    returns: None, printed die Ergebniszeilen
    '''
    connection = sq.connect("sportverein.db")  
    cursor = connection.cursor()

    cursor.execute(sql)
    connection.commit()
    for zeile in cursor:
        print(zeile)
    connection.close()

In [19]:
# Die Namen der Tabellen listen
connection = sq.connect('sportverein.db')
cursor = connection.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
for r in cursor:
    print(r)
connection.close()

('sqlite_sequence',)
('mitglied',)
('bank',)
('uebungsgruppe',)
('trainingsort',)
('trainingszeit',)
('hausmeister',)
('teilnehmer',)

In [22]:
# Die Namen der Felder einer Tabelle listen
connection = sq.connect('sportverein.db')
cursor = connection.cursor()
cursor.execute("SELECT * FROM mitglied")
felder = [x[0] for x in cursor.description]
connection.close()
felder

['MNr', 'Name', 'Vorname', 'Telefon', 'Konto', 'BLZ', 'Beitrag']

In [31]:
# die CREATE-Anweisungen für die einzelnen Tabellen listen
connection = sq.connect('sportverein.db')
cursor = connection.cursor()
cursor.execute("select sql from sqlite_master where type='table'")
for r in cursor:
    print(r[0])
connection.close()

CREATE TABLE sqlite_sequence(name,seq)
CREATE TABLE mitglied (MNr INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT NOT NULL, Vorname TEXT NOT NULL, Telefon TEXT DEFAULT NULL,
    Konto TEXT NOT NULL, BLZ INTEGER NOT NULL DEFAULT '0',
    Beitrag REAL NOT NULL DEFAULT '0.00')
CREATE TABLE bank (blz INTEGER PRIMARY KEY, bezeichnung VARCHAR(20))
CREATE TABLE uebungsgruppe (Unr INTEGER PRIMARY KEY AUTOINCREMENT,
    Sportart TEXT NOT NULL DEFAULT '', MNr INTEGER NOT NULL DEFAULt '0')
CREATE TABLE trainingsort (Ort TEXT PRIMARY KEY,
    HNr INTEGER NOT NULL DEFAULT '0')
CREATE TABLE trainingszeit (Tag TEXT NOT NULL DEFAULT '',
    ZEIT TEXT NOT NULL DEFAULT '00:00:00',
    UNr INTEGER NOT NULL DEFAULT '0',
    ORT TEXT NOT NULL)
CREATE TABLE hausmeister (HNr INTEGER PRIMARY KEY, Name TEXT, Telefon Text)
CREATE TABLE teilnehmer (MNr INTEGER NOT NULL DEFAULT '0',
    UNr INTEGER NOT NULL DEFAULT '0')

#### Aufgaben

In [6]:
# 1. Wieviele Trainingsorte gibt es ?
sql = "SELECT COUNT(*) FROM trainingsort"
abfrage(sql)

(8,)

In [8]:
# 2. Welche Sportarten werden angeboten? 
# Jede Sportart soll nur einmal ausgegeben werden.
sql = "SELECT sportart FROM uebungsgruppe GROUP BY sportart"
abfrage(sql)

('Basketball',)
('Fußball',)
('Langlauf',)
('Schwimmen',)
('Tauchen',)
('Tennis',)
('Turnen',)
('Volleyball',)
('Wasserball',)

In [9]:
# 3. Ändere die Sportart Fußball in Fussball
sql = "UPDATE uebungsgruppe SET sportart = 'Fussball'  WHERE sportart = 'Fußball'"
abfrage(sql)

In [10]:
# 4. Wieviele Mitglieder hat der Sportverein?
sql = "SELECT COUNT(*) FROM mitglied"
abfrage(sql)

(930,)

In [11]:
# 5. Gib die Häufigkeit der Vornamen der Mitglieder nach Häufigkeit absteigend geordnet aus
sql = "SELECT vorname, COUNT(*) FROM mitglied GROUP BY vorname ORDER BY COUNT(*) DESC" 
abfrage(sql)

('Werner', 313)
('Wolfgang', 18)
('Klaus', 17)
('Carsten', 16)
('Peter', 16)
('Bernd', 15)
('Heinz', 15)
('Hans', 14)
('Ulrich', 14)
('Dieter', 12)
('Manfred', 12)
('Michael', 12)
('Helmut', 10)
('Joachim', 10)
('Thomas', 9)
('Ernst', 8)
('Frau', 8)
('Gerhard', 8)
('Günter', 8)
('Horst', 8)
('Karl', 8)
('Hartmut', 7)
('Norbert', 7)
('Franz', 6)
('Friedhelm', 6)
('Fritz', 6)
('Juergen', 6)
('Richard', 6)
('Berthold', 5)
('Christian', 5)
('Georg', 5)
('Hermann', 5)
('Johannes', 5)
('Josef', 5)
('Jürgen', 5)
('Rudolf', 5)
('Albert', 4)
('Claus', 4)
('Gerd', 4)
('Herbert', 4)
('Herr', 4)
('Karl-Heinz', 4)
('Rainer', 4)
('Rolf', 4)
('Uwe', 4)
('Volker', 4)
('Walter', 4)
('Wilhelm', 4)
('Alfred', 3)
('Anton', 3)
('Franz-Josef', 3)
('Frauke', 3)
('Friedrich', 3)
('Heidrun', 3)
('Ingrid', 3)
('Jo', 3)
('Kurt', 3)
('Otto', 3)
('Reinhold', 3)
('Rotraud', 3)
('Rudi', 3)
('Siegfried', 3)
('Theo', 3)
('Veronika', 3)
('Adalbert', 2)
('Andreas', 2)
('Axel', 2)
('Bernhard', 2)
('Burghard', 2)
('Burkhard', 2)
('Bärbel', 2)
('Christoph', 2)
('Claudia', 2)
('Darko', 2)
('Dietrich', 2)
('Dirk', 2)
('Doris', 2)
('Eckhard', 2)
('Egon', 2)
('Ekkehard', 2)
('Emil', 2)
('Erich', 2)
('Erika', 2)
('Erna', 2)
('Gisela', 2)
('Giuseppina', 2)
('Guenter', 2)
('Hans-Georg', 2)
('Hans-Joachim', 2)
('Hans-Peter', 2)
('Hans-Werner', 2)
('Harry', 2)
('Heino', 2)
('Heinrich', 2)
('Helge', 2)
('Hiltrud', 2)
('Inge', 2)
('Jens', 2)
('Jörg', 2)
('Karl-Hermann', 2)
('Lothar', 2)
('Ludger', 2)
('Margrit', 2)
('Nadja', 2)
('Ottmar', 2)
('Paul', 2)
('Ralf', 2)
('Reinhard', 2)
('Roland', 2)
('Sabine', 2)
('Udo', 2)
('Ulrike', 2)
('Ursula', 2)
('Winfried', 2)
('Wolfram', 2)
('Alois', 1)
('Andrea', 1)
('Anette', 1)
('Anneliese', 1)
('Arkadius', 1)
('Arne', 1)
('Arno', 1)
('Arnold', 1)
('Barbara', 1)
('Bernard', 1)
('Bernfried', 1)
('Bertram', 1)
('Christa', 1)
('Christiane', 1)
('Christine', 1)
('Clemens', 1)
('Dr. Michael', 1)
('Eberhard', 1)
('Edwin', 1)
('Elke', 1)
('Ella', 1)
('Ernst Friedrich', 1)
('Fettin', 1)
('Friedemann', 1)
('Friedrich-Wilhelm', 1)
('Gabriele', 1)
('Gaby', 1)
('Gerald', 1)
('Gerda', 1)
('Gerlinde', 1)
('Gernot', 1)
('Gerold', 1)
('Gert', 1)
('Goetz', 1)
('Gudula', 1)
('Guenther', 1)
('Gunter', 1)
('Gunther', 1)
('Hanna', 1)
('Hanneli', 1)
('Hannelore', 1)
('Hans-Dieter', 1)
('Hans-Juergen', 1)
('Hans-Jürgen', 1)
('Hans-Ludwig', 1)
('Hans-W', 1)
('Hein', 1)
('Heiner', 1)
('Heinz Gunter', 1)
('Heinz-Gerd', 1)
('Helene', 1)
('Helga', 1)
('Hermann-Josef', 1)
('Hubertus', 1)
('Jakob', 1)
('Jan-Henrik', 1)
('Joerg', 1)
('Johann', 1)
('Judith', 1)
('Jutta', 1)
('Jörn', 1)
('Karl-Josef', 1)
('Klara', 1)
('Klaus P.', 1)
('Klaus-Georg', 1)
('Klaus-Henning', 1)
('Klaus-Jürgen', 1)
('Klemens', 1)
('Kuno', 1)
('Leo', 1)
('Ludwig', 1)
('Meinhard', 1)
('Meinolf', 1)
('Mike', 1)
('Monika', 1)
('Nikolaus', 1)
('Otmar', 1)
('Peter-Henning', 1)
('Raimund', 1)
('Reinhold van', 1)
('Reinold', 1)
('Rochus', 1)
('Sigrid', 1)
('Simon', 1)
('Stefan', 1)
('Tammo', 1)
('Theodor', 1)
('Ulf', 1)
('Uta', 1)
('Ute', 1)
('Viktor', 1)
('Waldemar', 1)
('Willi', 1)
('William', 1)
('Willibald', 1)
('Willy', 1)
('Wolf', 1)

In [12]:
# 6. Wieviele Mitglieder haben ein Konto bei welcher Bank?
sql = "SELECT COUNT(Mnr), bezeichnung FROM mitglied, bank WHERE mitglied.BLZ = bank.blz GROUP by bezeichnung" 
abfrage(sql)

(181, 'Deutsche Bank Soest')
(166, 'Sparkasse Echthausen')
(201, 'Sparkasse Rhynern')
(186, 'Volksbank Mawicke')
(196, 'Volksbank Unna')

In [13]:
# 7. Wieviele Fussballer haben ein Konto bei der Sparkasse Rhynern?
sql = """
SELECT count(a.name) FROM mitglied a 
JOIN teilnehmer b ON a.Mnr = b.Mnr
JOIN uebungsgruppe c ON b.Unr = c.Unr
JOIN bank d ON a.blz = d.blz 
WHERE c.sportart = 'Fußball' AND d.bezeichnung = 'Sparkasse Rhynern'
"""
abfrage(sql)

(0,)

In [14]:
# 8. Der Beitrag wird für alle Mitglieder um 20% angehoben
sql = "UPDATE mitglied SET beitrag = 1.2 * beitrag"
abfrage(sql)

In [15]:
# 9. Wie hoch ist die Summe der Mitgliedsbeiträge?
sql = "SELECT SUM(beitrag) FROM mitglied"
abfrage(sql)

(38076.00000000044,)

In [16]:
# 10. Welche Sportart(en) übt Mitglied Zwick aus?
sql = """
SELECT a.sportart FROM uebungsgruppe a
JOIN teilnehmer b ON a.Unr = b.Unr
JOIN mitglied c ON c.Mnr = b.Mnr
WHERE c.name = 'Zwick'
"""
abfrage(sql)

('Schwimmen',)
('Langlauf',)

In [17]:
# 12. Ist Mitglied Zwick ein Übungsgruppenleiter?
sql = """
SELECT a.sportart FROM uebungsgruppe a
JOIN mitglied b ON a.Mnr = b.Mnr
WHERE b.name = 'Zwick'
"""
abfrage(sql)

('Langlauf',)

In [18]:
# 13. Wieviele Mitglieder üben pro Woche in Bad1?
sql = """
SELECT DISTINCT COUNT(a.Mnr) FROM mitglied a 
JOIN teilnehmer b ON b.Mnr = a.Mnr
JOIN trainingszeit c ON c.Unr = b.Unr
JOIN trainingsort d ON d.Ort = c.Ort
WHERE d.ort = 'Bad1'
"""
abfrage(sql)

(94,)

In [19]:
# 14. Gibt es Übungsgruppenleiter, die in der gleichen Sportart Teilnehmer sind?
sql = """
SELECT a.vorname, a.name, c.sportart FROM mitglied a 
JOIN teilnehmer b ON b.Mnr = a.Mnr
JOIN uebungsgruppe c ON c.Unr = b.Unr
WHERE a.Mnr = c.Mnr
"""
abfrage(sql)

('Dietrich', 'Ellerbusch', 'Volleyball')
('Werner', 'Zwick', 'Langlauf')

In [20]:
# 15. Gibt es bei den Trainingsorten Doppelbelegungen (mehrere Kurse gleichzeitig)?
sql = """
SELECT a.ort, a.tag, a.Unr, b.Unr, a.zeit, b.zeit FROM trainingszeit a 
JOIN trainingszeit b ON a.ort = b.ort
WHERE a.Unr != b.Unr AND a.tag = b.tag AND ABS(STRFTIME('%s',a.zeit) - STRFTIME('%s',b.zeit)) < 60*60
"""
abfrage(sql)

('Halle2', 'Donnerstag', 4, 7, '18:30:00', '19:00:00')
('Halle2', 'Mittwoch', 11, 4, '19:00:00', '18:30:00')
('Platz1', 'Donnerstag', 13, 15, '17:30:00', '17:30:00')
('Platz1', 'Donnerstag', 15, 13, '17:30:00', '17:30:00')
('Halle2', 'Mittwoch', 4, 11, '18:30:00', '19:00:00')
('Halle2', 'Donnerstag', 7, 4, '19:00:00', '18:30:00')

In [22]:
# 16. Ordne die Sportarten nach Beliebtheit. Gib dabei die Teilnehmerzahl an. 
# Jede Sportart darf nur einmal ausgegeben werden.
sql = """
select a.sportart, count(b.Mnr) as zaehl from uebungsgruppe a 
join teilnehmer b on b.Unr = a.Unr 
group by a.sportart order by zaehl desc
"""
abfrage(sql)

('Fussball', 442)
('Volleyball', 318)
('Schwimmen', 297)
('Basketball', 107)
('Wasserball', 107)
('Tennis', 106)
('Tauchen', 98)
('Langlauf', 86)
('Turnen', 84)

In [23]:
# 17. Wie hoch ist der durchschnittliche Mitgliedsbeitrag?
sql = """
select avg(beitrag) from mitglied
"""
abfrage(sql)

(40.94193548387144,)

In [26]:
# 18. Für Übungsgruppenleiter wird der Mitgliedsbeitrag halbiert.
sql = """
UPDATE mitglied SET beitrag = 0.5 * beitrag 
WHERE mnr IN (
SELECT  a.mnr FROM mitglied a JOIN uebungsgruppe b ON a.mnr = b.mnr  
)
"""
abfrage(sql)

In [29]:
# 19. Wieviele Mitglieder betreuen die verschiedenen Hausmeister.
sql = """
SELECT COUNT(a.mnr), e.name FROM mitglied a 
JOIN teilnehmer b ON b.mnr = a.mnr
JOIN trainingszeit c ON c.unr = b.unr
JOIN trainingsort d ON d.ort = c.ort
JOIN hausmeister e ON e.hnr = d.hnr
GROUP by e.name
"""
abfrage(sql)

(782, 'Kacmarek')
(1260, 'Koyotenschulte')
(306, 'Krause')

In [ ]:
# 20. Gibt es für Mitglieder Überschneidungen bei den Trainingszeiten?
sql = """
SELECT a.name, c.unr, c2.unr, d.zeit, d2.zeit, d.tag FROM mitglied a 
JOIN mitglied a2 ON a2.mnr = a.mnr
JOIN teilnehmer c ON c.mnr = a.mnr
JOIN teilnehmer c2 ON c2.mnr = a2.mnr
JOIN trainingszeit d ON d.unr = c.unr
JOIN trainingszeit d2 ON d2.unr = c2.unr
WHERE d.tag = d2.tag AND c.unr != c2.unr 
AND ABS(STRFTIME('%s',d.zeit) - STRFTIME('%s',d2.zeit)) < 60*60
"""
abfrage(sql)

In [11]:
# 21. Gibt es für Übungsgruppenleiter Überschneidungen bei den Trainingszeiten?
#  --------------- Diese Lösung ist eventuel nicht optimal -------------------
sql = """
select a.mnr, b.unr, b2.unr, b.tag, b2.tag, b.zeit, b2.zeit from uebungsgruppe a
join uebungsgruppe a2 on a2.mnr = a.mnr
join trainingszeit b on b.unr = a.unr
join trainingszeit b2 on b2.unr = a2.unr
where  a.mnr = 2010 and b.zeit != b2.zeit and ABS(STRFTIME('%s',b.zeit) - STRFTIME('%s',b2.zeit)) < 60*60
and b.unr < b2.unr
"""
abfrage(sql)

In [8]:
# 22. Wieviele Mitglieder üben genau eine, zwei, drei, vier Sportarten aus?

In [32]:
# 23. Füge ein neues Mitglied ein, das Fussball und Tauchen üben will

In [33]:
# 24. Lösche ein Mitglied. Welche Tabellen müssen geändert werden?