# Tupel

* eine angeordnete Sequenz von Elementen, zugreifbar durch Index, unterschiedliche Datentypen sind möglich 
* immutable, d.h. Elemente können nicht verändert werden 
* repräsentiert durch runde Klammern

In [24]:
t = ()                 # leeres Tupel
print(t)
t = (1,)               # Tupel mit einem Element
print(t)
t = (1)                # kein Tupel, nur eine 1 in Klammern
print(t)

()
(1,)
1

In [25]:
t = (2, "one", 3.14)   # verschiedene Typen sind möglich
print(len(t))          # Länge
print(t)

3
(2, 'one', 3.14)

In [26]:
t[2]                   # indexing

3.14

In [27]:
t + (5,6)              # Tupel erweitern

(2, 'one', 3.14, 5, 6)

In [28]:
3 * t                  # Vervielfachen

(2, 'one', 3.14, 2, 'one', 3.14, 2, 'one', 3.14)

In [30]:
t2 = 3 * t     
print(t2[2:5])               # slicing

(3.14, 2, 'one')

In [23]:
t[0] = 3               # immutable, versuch einer Änderung führt zum Fehler

TypeError: 'tuple' object does not support item assignment

In [6]:
t = ((1,2),('a','b'),(6,))        #  ein Tupel von Tupeln
t[2][0]

6

#### Mehrfachzuweisung und Werte tauschen

In [26]:
(x, y) = (2, 4)     # dafür kann man auch x, y = 2, 4 schreiben
(x, y) = (y, x)     # dafür kann man auch x, y = x, y schreiben

#### Mit einem Tupel kann eine Funktion mehr als nur einen Wert zurückgeben.

In [8]:
def func(n):
    '''
    n: nicht negative ganze Zahl
    returns: (k1, k2) 
       k1 - das doppelte von n
       k2 - das Quadrat von n 
    '''
    return 2*n, n*n          #  die Klammer für das Tupel kann man sich sparen

In [9]:
x = func(5)
x

(10, 25)

In [10]:
x, y = func(5)               # die Klammer für das Tupel kann man sich sparen
print(x)
print(y)

10
25

In [11]:
_, y = func(5)               # wenn man nur einen der Rückgabewerte braucht
y

25

#### Der * -Operator

In [32]:
x = (1,2,3,4)
x

(1, 2, 3, 4)

In [34]:
print(*x)                     # Der *-Operator verschlankt die Ausgabe im print

1 2 3 4

#### Die Elemente eines Tupels durchlaufen

In [50]:
t = (4, 8, 9, 12, 42)
for i in range(len(t)):
    print(t[i])

4
8
9
12
42

In [51]:
for x in t:
    print(x)

4
8
9
12
42