# Datenbanken   
## Aufgabe Sportverein

In [1]:
import sqlite3 as sq
import sportverein
sportverein.createDB()

In [28]:
def abfrage(sql):
    '''
    sql: String mit SQL-Anweisung
    returns: None, printed die Ergebniszeilen
    '''
    connection = sq.connect("sportverein.db")  
    cursor = connection.cursor()

    cursor.execute(sql)
    connection.commit()
    for zeile in cursor:
        print(zeile)
    connection.close()

#### Aufgaben

In [29]:
# 1. Wieviele Trainingsorte gibt es ?
sql = "SELECT COUNT(*) FROM trainingsort"
abfrage(sql)

(8,)

In [30]:
# 2. Welche Sportarten werden angeboten? 
# Jede Sportart soll nur einmal ausgegeben werden.
sql = "SELECT sportart FROM uebungsgruppe GROUP BY sportart"
abfrage(sql)

('Basketball',)
('Fussball',)
('Langlauf',)
('Schwimmen',)
('Tauchen',)
('Tennis',)
('Turnen',)
('Volleyball',)
('Wasserball',)

In [31]:
# 3. Ändere die Sportart Fußball in Fussball
sql = "UPDATE uebungsgruppe SET sportart = 'Fussball'  WHERE sportart = 'Fußball'"
abfrage(sql)

In [32]:
# 4. Wieviele Mitglieder hat der Sportverein?
sql = "SELECT COUNT(*) FROM mitglied"
abfrage(sql)

(930,)

In [33]:
# 5. Gib die Häufigkeit der Vornamen der Mitglieder nach Häufigkeit absteigend geordnet aus
sql = "SELECT vorname, COUNT(*) FROM mitglied GROUP BY vorname ORDER BY COUNT(*) DESC" 
abfrage(sql)

('Werner', 313)
('Wolfgang', 18)
('Klaus', 17)
('Carsten', 16)
('Peter', 16)
('Bernd', 15)
('Heinz', 15)
('Hans', 14)
('Ulrich', 14)
('Dieter', 12)
('Manfred', 12)
('Michael', 12)
('Helmut', 10)
('Joachim', 10)
('Thomas', 9)
('Ernst', 8)
('Frau', 8)
('Gerhard', 8)
('Günter', 8)
('Horst', 8)
('Karl', 8)
('Hartmut', 7)
('Norbert', 7)
('Franz', 6)
('Friedhelm', 6)
('Fritz', 6)
('Juergen', 6)
('Richard', 6)
('Berthold', 5)
('Christian', 5)
('Georg', 5)
('Hermann', 5)
('Johannes', 5)
('Josef', 5)
('Jürgen', 5)
('Rudolf', 5)
('Albert', 4)
('Claus', 4)
('Gerd', 4)
('Herbert', 4)
('Herr', 4)
('Karl-Heinz', 4)
('Rainer', 4)
('Rolf', 4)
('Uwe', 4)
('Volker', 4)
('Walter', 4)
('Wilhelm', 4)
('Alfred', 3)
('Anton', 3)
('Franz-Josef', 3)
('Frauke', 3)
('Friedrich', 3)
('Heidrun', 3)
('Ingrid', 3)
('Jo', 3)
('Kurt', 3)
('Otto', 3)
('Reinhold', 3)
('Rotraud', 3)
('Rudi', 3)
('Siegfried', 3)
('Theo', 3)
('Veronika', 3)
('Adalbert', 2)
('Andreas', 2)
('Axel', 2)
('Bernhard', 2)
('Burghard', 2)
('Burkhard', 2)
('Bärbel', 2)
('Christoph', 2)
('Claudia', 2)
('Darko', 2)
('Dietrich', 2)
('Dirk', 2)
('Doris', 2)
('Eckhard', 2)
('Egon', 2)
('Ekkehard', 2)
('Emil', 2)
('Erich', 2)
('Erika', 2)
('Erna', 2)
('Gisela', 2)
('Giuseppina', 2)
('Guenter', 2)
('Hans-Georg', 2)
('Hans-Joachim', 2)
('Hans-Peter', 2)
('Hans-Werner', 2)
('Harry', 2)
('Heino', 2)
('Heinrich', 2)
('Helge', 2)
('Hiltrud', 2)
('Inge', 2)
('Jens', 2)
('Jörg', 2)
('Karl-Hermann', 2)
('Lothar', 2)
('Ludger', 2)
('Margrit', 2)
('Nadja', 2)
('Ottmar', 2)
('Paul', 2)
('Ralf', 2)
('Reinhard', 2)
('Roland', 2)
('Sabine', 2)
('Udo', 2)
('Ulrike', 2)
('Ursula', 2)
('Winfried', 2)
('Wolfram', 2)
('Alois', 1)
('Andrea', 1)
('Anette', 1)
('Anneliese', 1)
('Arkadius', 1)
('Arne', 1)
('Arno', 1)
('Arnold', 1)
('Barbara', 1)
('Bernard', 1)
('Bernfried', 1)
('Bertram', 1)
('Christa', 1)
('Christiane', 1)
('Christine', 1)
('Clemens', 1)
('Dr. Michael', 1)
('Eberhard', 1)
('Edwin', 1)
('Elke', 1)
('Ella', 1)
('Ernst Friedrich', 1)
('Fettin', 1)
('Friedemann', 1)
('Friedrich-Wilhelm', 1)
('Gabriele', 1)
('Gaby', 1)
('Gerald', 1)
('Gerda', 1)
('Gerlinde', 1)
('Gernot', 1)
('Gerold', 1)
('Gert', 1)
('Goetz', 1)
('Gudula', 1)
('Guenther', 1)
('Gunter', 1)
('Gunther', 1)
('Hanna', 1)
('Hanneli', 1)
('Hannelore', 1)
('Hans-Dieter', 1)
('Hans-Juergen', 1)
('Hans-Jürgen', 1)
('Hans-Ludwig', 1)
('Hans-W', 1)
('Hein', 1)
('Heiner', 1)
('Heinz Gunter', 1)
('Heinz-Gerd', 1)
('Helene', 1)
('Helga', 1)
('Hermann-Josef', 1)
('Hubertus', 1)
('Jakob', 1)
('Jan-Henrik', 1)
('Joerg', 1)
('Johann', 1)
('Judith', 1)
('Jutta', 1)
('Jörn', 1)
('Karl-Josef', 1)
('Klara', 1)
('Klaus P.', 1)
('Klaus-Georg', 1)
('Klaus-Henning', 1)
('Klaus-Jürgen', 1)
('Klemens', 1)
('Kuno', 1)
('Leo', 1)
('Ludwig', 1)
('Meinhard', 1)
('Meinolf', 1)
('Mike', 1)
('Monika', 1)
('Nikolaus', 1)
('Otmar', 1)
('Peter-Henning', 1)
('Raimund', 1)
('Reinhold van', 1)
('Reinold', 1)
('Rochus', 1)
('Sigrid', 1)
('Simon', 1)
('Stefan', 1)
('Tammo', 1)
('Theodor', 1)
('Ulf', 1)
('Uta', 1)
('Ute', 1)
('Viktor', 1)
('Waldemar', 1)
('Willi', 1)
('William', 1)
('Willibald', 1)
('Willy', 1)
('Wolf', 1)

In [34]:
# 6. Wieviele Mitglieder haben ein Konto bei welcher Bank?
sql = "SELECT COUNT(Mnr), bezeichnung FROM mitglied, bank WHERE mitglied.BLZ = bank.blz GROUP by bezeichnung" 
abfrage(sql)

(181, 'Deutsche Bank Soest')
(166, 'Sparkasse Echthausen')
(201, 'Sparkasse Rhynern')
(186, 'Volksbank Mawicke')
(196, 'Volksbank Unna')

In [35]:
# 7. Wieviele Fussballer haben ein Konto bei der Sparkasse Rhynern?
sql = """
SELECT count(a.name) FROM mitglied a 
JOIN teilnehmer b ON a.Mnr = b.Mnr
JOIN uebungsgruppe c ON b.Unr = c.Unr
JOIN bank d ON a.blz = d.blz 
WHERE c.sportart = 'Fußball' AND d.bezeichnung = 'Sparkasse Rhynern'
"""
abfrage(sql)

(0,)

In [36]:
# 8. Der Beitrag wird für alle Mitglieder um 20% angehoben
sql = "UPDATE mitglied SET beitrag = 1.2 * beitrag"
abfrage(sql)

In [37]:
# 9. Wie hoch ist die Summe der Mitgliedsbeiträge?
sql = "SELECT SUM(beitrag) FROM mitglied"
abfrage(sql)

(45306.71999999989,)

In [38]:
# 10. Welche Sportart(en) übt Mitglied Zwick aus?
sql = """
SELECT a.sportart FROM uebungsgruppe a
JOIN teilnehmer b ON a.Unr = b.Unr
JOIN mitglied c ON c.Mnr = b.Mnr
WHERE c.name = 'Zwick'
"""
abfrage(sql)

('Schwimmen',)
('Langlauf',)

In [39]:
# 12. Ist Mitglied Zwick ein Übungsgruppenleiter?
sql = """
SELECT a.sportart FROM uebungsgruppe a
JOIN mitglied b ON a.Mnr = b.Mnr
WHERE b.name = 'Zwick'
"""
abfrage(sql)

('Langlauf',)

In [40]:
# 13. Wieviele Mitglieder üben pro Woche in Bad1?
sql = """
SELECT DISTINCT COUNT(a.Mnr) FROM mitglied a 
JOIN teilnehmer b ON b.Mnr = a.Mnr
JOIN trainingszeit c ON c.Unr = b.Unr
JOIN trainingsort d ON d.Ort = c.Ort
WHERE d.ort = 'Bad1'
"""
abfrage(sql)

(94,)

In [41]:
# 14. Gibt es Übungsgruppenleiter, die in der gleichen Sportart Teilnehmer sind?
sql = """
SELECT a.vorname, a.name, c.sportart FROM mitglied a 
JOIN teilnehmer b ON b.Mnr = a.Mnr
JOIN uebungsgruppe c ON c.Unr = b.Unr
WHERE a.Mnr = c.Mnr
"""
abfrage(sql)

('Dietrich', 'Ellerbusch', 'Volleyball')
('Werner', 'Zwick', 'Langlauf')

In [42]:
# 15. Gibt es bei den Trainingsorten Doppelbelegungen (mehrere Kurse gleichzeitig)?
sql = """
SELECT a.ort, a.tag, a.Unr, b.Unr, a.zeit, b.zeit FROM trainingszeit a 
JOIN trainingszeit b ON a.ort = b.ort
WHERE a.Unr != b.Unr AND a.tag = b.tag AND ABS(STRFTIME('%s',a.zeit) - STRFTIME('%s',b.zeit)) < 60*60
"""
abfrage(sql)

('Halle2', 'Donnerstag', 4, 7, '18:30:00', '19:00:00')
('Halle2', 'Mittwoch', 11, 4, '19:00:00', '18:30:00')
('Platz1', 'Donnerstag', 13, 15, '17:30:00', '17:30:00')
('Platz1', 'Donnerstag', 15, 13, '17:30:00', '17:30:00')
('Halle2', 'Mittwoch', 4, 11, '18:30:00', '19:00:00')
('Halle2', 'Donnerstag', 7, 4, '19:00:00', '18:30:00')

In [43]:
# 16. Ordne die Sportarten nach Beliebtheit. Gib dabei die Teilnehmerzahl an. 
# Jede Sportart darf nur einmal ausgegeben werden.
sql = """
select a.sportart, count(b.Mnr) as zaehl from uebungsgruppe a 
join teilnehmer b on b.Unr = a.Unr 
group by a.sportart order by zaehl desc
"""
abfrage(sql)

('Fussball', 442)
('Volleyball', 318)
('Schwimmen', 297)
('Basketball', 107)
('Wasserball', 107)
('Tennis', 106)
('Tauchen', 98)
('Langlauf', 86)
('Turnen', 84)

In [44]:
# 17. Wie hoch ist der durchschnittliche Mitgliedsbeitrag?
sql = """
select avg(beitrag) from mitglied
"""
abfrage(sql)

(48.716903225806334,)

In [45]:
# 18. Für Übungsgruppenleiter wird der Mitgliedsbeitrag halbiert.
sql = """
UPDATE mitglied SET beitrag = 0.5 * beitrag 
WHERE mnr IN (
SELECT  a.mnr FROM mitglied a JOIN uebungsgruppe b ON a.mnr = b.mnr  
)
"""
abfrage(sql)

In [46]:
# 19. Wieviele Mitglieder betreuen die verschiedenen Hausmeister.
sql = """
SELECT COUNT(a.mnr), e.name FROM mitglied a 
JOIN teilnehmer b ON b.mnr = a.mnr
JOIN trainingszeit c ON c.unr = b.unr
JOIN trainingsort d ON d.ort = c.ort
JOIN hausmeister e ON e.hnr = d.hnr
GROUP by e.name
"""
abfrage(sql)

(782, 'Kacmarek')
(1260, 'Koschulte')
(306, 'Krause')

In [47]:
# 20. Gibt es für Mitglieder Überschneidungen bei den Trainingszeiten?
sql = """
SELECT a.name, c.unr, c2.unr, d.zeit, d2.zeit, d.tag FROM mitglied a 
JOIN mitglied a2 ON a2.mnr = a.mnr
JOIN teilnehmer c ON c.mnr = a.mnr
JOIN teilnehmer c2 ON c2.mnr = a2.mnr
JOIN trainingszeit d ON d.unr = c.unr
JOIN trainingszeit d2 ON d2.unr = c2.unr
WHERE d.tag = d2.tag AND c.unr != c2.unr 
AND ABS(STRFTIME('%s',d.zeit) - STRFTIME('%s',d2.zeit)) < 60*60
"""
abfrage(sql)

('Schaepers', 8, 1, '18:00:00', '18:30:00', 'Montag')
('Brandt', 17, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Hahne', 5, 13, '17:30:00', '17:30:00', 'Donnerstag')
('Hüttenberger', 4, 17, '18:30:00', '18:30:00', 'Donnerstag')
('Maurer', 2, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Richter', 17, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Regh', 8, 5, '18:00:00', '17:30:00', 'Dienstag')
('Poecking', 4, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Kerski', 12, 11, '19:00:00', '19:00:00', 'Mittwoch')
('Zeglin', 8, 10, '18:00:00', '18:30:00', 'Dienstag')
('Weyand', 12, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Fisbach', 2, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Fisbach', 2, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Dasbach', 10, 8, '18:30:00', '18:00:00', 'Dienstag')
('Buse', 12, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Gaehrken', 7, 17, '19:00:00', '18:30:00', 'Donnerstag')
('Keller', 12, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Steigerwald', 5, 13, '17:30:00', '17:30:00', 'Donnerstag')
('Pogadel', 8, 9, '18:00:00', '18:00:00', 'Montag')
('Pogadel', 8, 10, '18:00:00', '18:30:00', 'Dienstag')
('Fritzen', 5, 8, '17:30:00', '18:00:00', 'Dienstag')
('Lotter', 5, 3, '17:30:00', '17:00:00', 'Dienstag')
('Hörsken', 3, 5, '17:00:00', '17:30:00', 'Dienstag')
('Frehn', 2, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Oberdörster', 4, 2, '18:30:00', '19:00:00', 'Mittwoch')
('Schuetz', 5, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Hahn', 11, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Liebethal', 4, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Nordsiek', 4, 11, '18:30:00', '19:00:00', 'Mittwoch')
('Scharff', 8, 9, '18:00:00', '18:00:00', 'Montag')
('Zehfuss', 8, 1, '18:00:00', '18:30:00', 'Montag')
('Zickel', 5, 3, '17:30:00', '17:00:00', 'Dienstag')
('Kuntze', 12, 11, '19:00:00', '19:00:00', 'Mittwoch')
('Haarmann', 8, 1, '18:00:00', '18:30:00', 'Montag')
('Fischer', 10, 7, '18:30:00', '19:00:00', 'Dienstag')
('Steiner', 7, 17, '19:00:00', '18:30:00', 'Donnerstag')
('Hartwich', 17, 4, '18:30:00', '18:30:00', 'Donnerstag')
('Wehling', 1, 9, '18:30:00', '18:00:00', 'Montag')
('Deest', 8, 10, '18:00:00', '18:30:00', 'Dienstag')
('Niegemann', 2, 11, '19:00:00', '19:00:00', 'Mittwoch')
('Paetz', 9, 4, '18:00:00', '18:30:00', 'Mittwoch')
('Beckmann', 15, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Dreiner', 5, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Heese', 7, 17, '19:00:00', '18:30:00', 'Donnerstag')
('Bernstein', 7, 17, '19:00:00', '18:30:00', 'Donnerstag')
('Sarges', 3, 5, '17:00:00', '17:30:00', 'Dienstag')
('Wittkopp', 5, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Kohlitz', 7, 10, '19:00:00', '18:30:00', 'Dienstag')
('Lindner', 12, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Howoritsch', 4, 12, '18:30:00', '19:00:00', 'Mittwoch')
('Bamberger', 5, 3, '17:30:00', '17:00:00', 'Dienstag')
('Scholl', 15, 13, '17:30:00', '17:30:00', 'Donnerstag')
('Mees', 11, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Richter', 12, 11, '19:00:00', '19:00:00', 'Mittwoch')
('Heinrich', 9, 4, '18:00:00', '18:30:00', 'Mittwoch')
('Lünstedt', 10, 8, '18:30:00', '18:00:00', 'Dienstag')
('Kramer', 4, 11, '18:30:00', '19:00:00', 'Mittwoch')
('Kramer', 4, 12, '18:30:00', '19:00:00', 'Mittwoch')
('Walter', 8, 5, '18:00:00', '17:30:00', 'Dienstag')
('Wehling', 7, 17, '19:00:00', '18:30:00', 'Donnerstag')
('Aulich', 15, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Joppich', 5, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Meyer', 9, 1, '18:00:00', '18:30:00', 'Montag')
('Janotte', 4, 2, '18:30:00', '19:00:00', 'Mittwoch')
('Haas', 5, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Winter', 2, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Ballendatt', 12, 2, '19:00:00', '19:00:00', 'Mittwoch')
('Plesse', 1, 9, '18:30:00', '18:00:00', 'Montag')
('Buchmann', 7, 17, '19:00:00', '18:30:00', 'Donnerstag')
('Shripczynski', 15, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Schulz', 17, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Lotz', 1, 8, '18:30:00', '18:00:00', 'Montag')
('Gädecke', 5, 8, '17:30:00', '18:00:00', 'Dienstag')
('Gädecke', 5, 13, '17:30:00', '17:30:00', 'Donnerstag')
('Wegener', 7, 10, '19:00:00', '18:30:00', 'Dienstag')
('Fichter', 9, 4, '18:00:00', '18:30:00', 'Mittwoch')
('Sturm', 4, 2, '18:30:00', '19:00:00', 'Mittwoch')
('Hunger', 5, 13, '17:30:00', '17:30:00', 'Donnerstag')
('Rinnen', 12, 11, '19:00:00', '19:00:00', 'Mittwoch')
('Dege', 4, 9, '18:30:00', '18:00:00', 'Mittwoch')
('Lohmann', 17, 4, '18:30:00', '18:30:00', 'Donnerstag')
('Lohmann', 17, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Schmitz', 5, 8, '17:30:00', '18:00:00', 'Dienstag')
('Baumgärtner', 7, 4, '19:00:00', '18:30:00', 'Donnerstag')
('Blum', 2, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Bolz', 3, 5, '17:00:00', '17:30:00', 'Dienstag')
('Landfried', 7, 4, '19:00:00', '18:30:00', 'Donnerstag')
('Haß', 4, 12, '18:30:00', '19:00:00', 'Mittwoch')
('Trenkmann', 4, 2, '18:30:00', '19:00:00', 'Mittwoch')
('Roller', 11, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Bachem', 10, 7, '18:30:00', '19:00:00', 'Dienstag')
('Ströhmann', 5, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Sandau', 15, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Diester', 5, 13, '17:30:00', '17:30:00', 'Donnerstag')
('Wolff', 3, 5, '17:00:00', '17:30:00', 'Dienstag')
('Meyer', 1, 9, '18:30:00', '18:00:00', 'Montag')
('Schaepers', 1, 8, '18:30:00', '18:00:00', 'Montag')
('Brandt', 7, 17, '19:00:00', '18:30:00', 'Donnerstag')
('Hahne', 13, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Hüttenberger', 17, 4, '18:30:00', '18:30:00', 'Donnerstag')
('Maurer', 4, 2, '18:30:00', '19:00:00', 'Mittwoch')
('Richter', 7, 17, '19:00:00', '18:30:00', 'Donnerstag')
('Regh', 5, 8, '17:30:00', '18:00:00', 'Dienstag')
('Poecking', 7, 4, '19:00:00', '18:30:00', 'Donnerstag')
('Kerski', 11, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Zeglin', 10, 8, '18:30:00', '18:00:00', 'Dienstag')
('Weyand', 4, 12, '18:30:00', '19:00:00', 'Mittwoch')
('Fisbach', 4, 2, '18:30:00', '19:00:00', 'Mittwoch')
('Fisbach', 4, 12, '18:30:00', '19:00:00', 'Mittwoch')
('Dasbach', 8, 10, '18:00:00', '18:30:00', 'Dienstag')
('Loehring', 15, 13, '17:30:00', '17:30:00', 'Donnerstag')
('Beisner', 8, 10, '18:00:00', '18:30:00', 'Dienstag')
('Hoffmann', 8, 9, '18:00:00', '18:00:00', 'Montag')
('Wehling', 5, 3, '17:30:00', '17:00:00', 'Dienstag')
('Toernig', 4, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Pogadel', 10, 8, '18:30:00', '18:00:00', 'Dienstag')
('Lotter', 3, 5, '17:00:00', '17:30:00', 'Dienstag')
('Meissner', 2, 11, '19:00:00', '19:00:00', 'Mittwoch')
('Widulla', 5, 8, '17:30:00', '18:00:00', 'Dienstag')
('Frehn', 4, 2, '18:30:00', '19:00:00', 'Mittwoch')
('Schuetz', 15, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Menges', 1, 9, '18:30:00', '18:00:00', 'Montag')
('Standt', 12, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Zehfuss', 1, 8, '18:30:00', '18:00:00', 'Montag')
('Kriep', 5, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Zickel', 3, 5, '17:00:00', '17:30:00', 'Dienstag')
('Lotze', 9, 4, '18:00:00', '18:30:00', 'Mittwoch')
('Fischer', 7, 10, '19:00:00', '18:30:00', 'Dienstag')
('Steiner', 17, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Mahn', 13, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Rasmus', 2, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Deest', 10, 8, '18:30:00', '18:00:00', 'Dienstag')
('Warntjen', 12, 11, '19:00:00', '19:00:00', 'Mittwoch')
('Paetz', 17, 4, '18:30:00', '18:30:00', 'Donnerstag')
('Heese', 17, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Wittkopp', 15, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Kohlitz', 10, 7, '18:30:00', '19:00:00', 'Dienstag')
('Lindner', 4, 12, '18:30:00', '19:00:00', 'Mittwoch')
('Howoritsch', 12, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Bamberger', 3, 5, '17:00:00', '17:30:00', 'Dienstag')
('Scholl', 13, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Mees', 12, 11, '19:00:00', '19:00:00', 'Mittwoch')
('Richter', 11, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Heinrich', 4, 9, '18:30:00', '18:00:00', 'Mittwoch')
('Lünstedt', 8, 10, '18:00:00', '18:30:00', 'Dienstag')
('Kramer', 11, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Kramer', 11, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Schmidt', 11, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Aulich', 3, 5, '17:00:00', '17:30:00', 'Dienstag')
('Dahmen', 13, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Janotte', 2, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Haas', 15, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Winter', 4, 2, '18:30:00', '19:00:00', 'Mittwoch')
('Ballendatt', 2, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Plesse', 9, 1, '18:00:00', '18:30:00', 'Montag')
('Buchmann', 17, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Shripczynski', 5, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Müller', 4, 17, '18:30:00', '18:30:00', 'Donnerstag')
('Lotz', 8, 1, '18:00:00', '18:30:00', 'Montag')
('Gädecke', 8, 5, '18:00:00', '17:30:00', 'Dienstag')
('Kreuziger', 4, 2, '18:30:00', '19:00:00', 'Mittwoch')
('Fichter', 4, 9, '18:30:00', '18:00:00', 'Mittwoch')
('Fichter', 4, 17, '18:30:00', '18:30:00', 'Donnerstag')
('Hunger', 13, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Rinnen', 11, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Dege', 9, 4, '18:00:00', '18:30:00', 'Mittwoch')
('Reeske', 12, 2, '19:00:00', '19:00:00', 'Mittwoch')
('Lohmann', 4, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Lohmann', 4, 17, '18:30:00', '18:30:00', 'Donnerstag')
('Kordel', 12, 2, '19:00:00', '19:00:00', 'Mittwoch')
('Katschke', 11, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Gerstmeier', 7, 4, '19:00:00', '18:30:00', 'Donnerstag')
('Beckmann', 7, 4, '19:00:00', '18:30:00', 'Donnerstag')
('Baumgärtner', 4, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Blum', 12, 2, '19:00:00', '19:00:00', 'Mittwoch')
('Bolz', 5, 3, '17:30:00', '17:00:00', 'Dienstag')
('Freytag', 4, 2, '18:30:00', '19:00:00', 'Mittwoch')
('Landfried', 4, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Haß', 12, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Trenkmann', 2, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Roller', 12, 11, '19:00:00', '19:00:00', 'Mittwoch')
('Bachem', 7, 10, '19:00:00', '18:30:00', 'Dienstag')
('Ströhmann', 15, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Sandau', 5, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Diester', 13, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Wolff', 5, 3, '17:30:00', '17:00:00', 'Dienstag')
('Meyer', 9, 1, '18:00:00', '18:30:00', 'Montag')
('Fisbach', 12, 2, '19:00:00', '19:00:00', 'Mittwoch')
('Fisbach', 12, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Loehring', 13, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Beisner', 10, 8, '18:30:00', '18:00:00', 'Dienstag')
('Buse', 4, 12, '18:30:00', '19:00:00', 'Mittwoch')
('Hoffmann', 9, 8, '18:00:00', '18:00:00', 'Montag')
('Gaehrken', 17, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Wehling', 3, 5, '17:00:00', '17:30:00', 'Dienstag')
('Keller', 4, 12, '18:30:00', '19:00:00', 'Mittwoch')
('Steigerwald', 13, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Toernig', 7, 4, '19:00:00', '18:30:00', 'Donnerstag')
('Pogadel', 9, 8, '18:00:00', '18:00:00', 'Montag')
('Fritzen', 8, 5, '18:00:00', '17:30:00', 'Dienstag')
('Meissner', 11, 2, '19:00:00', '19:00:00', 'Mittwoch')
('Widulla', 8, 5, '18:00:00', '17:30:00', 'Dienstag')
('Hörsken', 5, 3, '17:30:00', '17:00:00', 'Dienstag')
('Oberdörster', 2, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Hahn', 4, 11, '18:30:00', '19:00:00', 'Mittwoch')
('Menges', 9, 1, '18:00:00', '18:30:00', 'Montag')
('Standt', 4, 12, '18:30:00', '19:00:00', 'Mittwoch')
('Liebethal', 7, 4, '19:00:00', '18:30:00', 'Donnerstag')
('Nordsiek', 11, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Scharff', 9, 8, '18:00:00', '18:00:00', 'Montag')
('Kriep', 15, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Lotze', 4, 9, '18:30:00', '18:00:00', 'Mittwoch')
('Kuntze', 11, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Haarmann', 1, 8, '18:30:00', '18:00:00', 'Montag')
('Mahn', 15, 13, '17:30:00', '17:30:00', 'Donnerstag')
('Rasmus', 4, 2, '18:30:00', '19:00:00', 'Mittwoch')
('Hartwich', 4, 17, '18:30:00', '18:30:00', 'Donnerstag')
('Wehling', 9, 1, '18:00:00', '18:30:00', 'Montag')
('Warntjen', 11, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Niegemann', 11, 2, '19:00:00', '19:00:00', 'Mittwoch')
('Paetz', 4, 9, '18:30:00', '18:00:00', 'Mittwoch')
('Paetz', 4, 17, '18:30:00', '18:30:00', 'Donnerstag')
('Beckmann', 5, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Dreiner', 15, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Bernstein', 17, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Sarges', 5, 3, '17:30:00', '17:00:00', 'Dienstag')
('Kramer', 12, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Kramer', 12, 11, '19:00:00', '19:00:00', 'Mittwoch')
('Schmidt', 4, 11, '18:30:00', '19:00:00', 'Mittwoch')
('Walter', 5, 8, '17:30:00', '18:00:00', 'Dienstag')
('Wehling', 17, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Aulich', 5, 3, '17:30:00', '17:00:00', 'Dienstag')
('Aulich', 5, 15, '17:30:00', '17:30:00', 'Donnerstag')
('Dahmen', 15, 13, '17:30:00', '17:30:00', 'Donnerstag')
('Joppich', 15, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Meyer', 1, 9, '18:30:00', '18:00:00', 'Montag')
('Schulz', 7, 17, '19:00:00', '18:30:00', 'Donnerstag')
('Müller', 17, 4, '18:30:00', '18:30:00', 'Donnerstag')
('Gädecke', 13, 5, '17:30:00', '17:30:00', 'Donnerstag')
('Kreuziger', 2, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Wegener', 10, 7, '18:30:00', '19:00:00', 'Dienstag')
('Fichter', 17, 4, '18:30:00', '18:30:00', 'Donnerstag')
('Sturm', 2, 4, '19:00:00', '18:30:00', 'Mittwoch')
('Reeske', 2, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Lohmann', 7, 4, '19:00:00', '18:30:00', 'Donnerstag')
('Lohmann', 7, 17, '19:00:00', '18:30:00', 'Donnerstag')
('Kordel', 2, 12, '19:00:00', '19:00:00', 'Mittwoch')
('Katschke', 4, 11, '18:30:00', '19:00:00', 'Mittwoch')
('Gerstmeier', 4, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Schmitz', 8, 5, '18:00:00', '17:30:00', 'Dienstag')
('Beckmann', 4, 7, '18:30:00', '19:00:00', 'Donnerstag')
('Freytag', 2, 4, '19:00:00', '18:30:00', 'Mittwoch')

In [48]:
# 21. Gibt es für Übungsgruppenleiter Überschneidungen bei den Trainingszeiten?
sql = """
select a.mnr, b.unr, b2.unr, b.tag, b2.tag, b.zeit, b2.zeit from uebungsgruppe a
join uebungsgruppe a2 on a2.mnr = a.mnr
join trainingszeit b on b.unr = a.unr
join trainingszeit b2 on b2.unr = a2.unr
where  b.zeit != b2.zeit and ABS(STRFTIME('%s',b.zeit) - STRFTIME('%s',b2.zeit)) < 60*60
and b.unr < b2.unr
"""
abfrage(sql)

In [49]:
# 22. Wieviele Mitglieder üben genau eine, zwei, drei, vier Sportarten aus?
abfrage("drop table if exists temp")

sql = """
create table temp as select a.mnr as mnr, count(c.sportart) as zaehl from mitglied a
join teilnehmer b on b.mnr = a.mnr
join uebungsgruppe c on c.unr = b.unr
group by a.mnr, c.sportart having count(a.mnr) in (1,2,3,4) order by zaehl desc
"""
abfrage(sql)

abfrage("select count(mnr),zaehl from temp group by zaehl")

(1462, 1)
(90, 2)
(1, 3)

In [50]:
# 23. Füge ein neues Mitglied ein, das Fussball und Tauchen üben will

In [51]:
# 24. Lösche ein Mitglied. Welche Tabellen müssen geändert werden?